:root {
    --color-main: #7ec522;
}

.container-status-mana-ad {
    margin: 0 20px;
}

.btn-mana-sta {
    padding: 6px 10px;
    margin-right: 20px;
    box-shadow: 5px 5px 6px #666;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.tt-sta-pro-ad {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-main);
}

.btn-add-status-res,
.close-form-add-sta-ad {
    display: none;
}