:root {
    --color-main: #7ec522;
}

.container-pro {
    max-width: 1170px;
    margin: auto;
    margin-top: 40px;
}

.line {
    width: 93%;
    height: 0.5px;
    background-color: #aaa;
    margin: auto;
    margin-top: 16px;
}

.products{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0 20px;
}

.crumb {
    margin-top: 10px;
}

.crumb-homepage {
    color: #000;
    text-decoration: none;
}

.crumb-homepage:hover {
    color: var(--color-main);
}

.crumb img {
    width: 12px;
    height: 12px;
    margin: -5px 5px 0 5px;
}

.crumb-name {
    color: #555;
}

.wrap-list-category {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.list-category-item,
.list-price-item,
.list-discount-item {
    border-radius: 5px;
    width: 280px;
    margin: 30px 0 35px 0;
    padding: 15px;
    box-shadow: 0px 0px 6px #aaa;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.list-price-item {
    z-index: 0;
}

.list-category-item h3,
.list-price-item h3,
.list-discount-item h3 {
    border-bottom: 2px solid #777;
    padding: 8px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    color: #555;
}

.list-category-item li,
.list-price-item li {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    padding: 12px;
}

.list-category-item li:focus,
.list-price-item li:focus {
    background-color: #aaa;
    color: #fff;
}

.list-category-item li:hover,
.list-price-item li:hover {
    background-color: #bbb;
    color: #fff;
    border-radius: 4px;
}

.list-category-item img,
.list-price-item img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.list-row {
    padding-left: 0;
}

.list-row p {
    color: #000;
    cursor: pointer;
}

.pro-card {
   width: 100%;
}

/*-----------Productitem---------------*/
@import url(../utils/productitem/Productitem.css);

/*----------------------filter---------------------------------*/
.filter_menu{
    display: flex;
    justify-content: right;
}

.filter_menu select {
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    height: 32px;
    padding: 0 10px;
    width: 140px;
}

.row-filter {
    width: 300px;
}

.row-filter span {
    width: 120px;
    line-height: 30px;
}

/*-------------------------Load more---------------------*/
.load_more{
    text-align: center;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
}

.load_more span{
    border: 1px solid #999;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #fff;
}

.load_more span img {
    width: 23px;
    height: 23px;
    margin-bottom: 2px;
}

.load_more span img:hover {
    filter: brightness(0) invert(1);
}

.load_more span:hover{
    transition: ease-in 0.2s;
    background-color: #999;
    color: #fff;
}

.btn-number-load {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px;
}

/*-===================================================================-*/

.head-page{
    
    background-color: #FF6633;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
    transform: rotate(45deg);
}

.head-page img {
    transform: rotate(-45deg);
    margin-bottom: 15px;
}

.head-page:hover{
    box-shadow: 0px 0px 10px #777;
    transition: ease-in 0.2s;
}

.head-list-pro {
    position: relative;
}

.head-list-pro .title-category {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

.notify-not-found {
    margin-left: 37%;
    font-size: 1.4rem;
    font-weight: 500;
}

.list-category-hover {
    position: absolute;
    top: 0;
    left: 251px;
    width: 280px;
    background-color: #666;
    box-shadow: 0px 0px 5px #bbb;
    border-radius: 5px;
    padding-left: 0;
    display: none;
}

.list-category-hover li {
    padding-top: 10px;
    color: #fff;
}

.list-category-hover li:hover {
    background-color: #777;
}

.list-category-hover li img {
    filter: brightness(0) invert(1)
}

.icon-img-menu-pro-page,
.icon-close-menu-pro {
    display: none
}

/*-------------------------Discount Product---------------------*/
@import url(../discount/DiscountProduct.css);