:root {
    --color-main: #7ec522;
}

.container-login {
    background-image: url(../../header/icon/bg-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 82vh;
    position: relative;
    margin-bottom: -20px;
}

.container-login::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.1;
}

.login-page{
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #222;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16vh;
    z-index: 1;
}

.login-page form {
    border: 1px solid #00cc00;
    padding: 20px;
    border-radius: 5px;
}

.login-page h2{
    text-transform: uppercase;
    text-align: center;
}

.login-page form input{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0px -2px 3px #bbb inset;
    outline: none;
}

.login-page form input:focus {
    border: 2px solid #00cc00;
}

.login-page form .row-btn-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page form button{
    width: 150px;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    background-color: #00cc00;
    color: #fff;
    box-shadow: 5px 5px 7px #666;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
}

.login-page form button:hover{
    box-shadow: 0px 0px 7px #666;
    transition: linear 0.2s;
}

.login-page form a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border: 2px solid #00cc00;
    border-radius: 5px;
}

.login-page form a:hover{
    background-color: #00cc00;
    color: #fff;
}

.row-btn-login a {
    text-decoration: none;
}