:root {
    --color-main: #7ec522;
}

.wrap-updateInforClient {
    background-color: #eee;
    width: 100%;
    margin-bottom: -20px;
    padding: 30px 0;
}

.container-updateInforClient {
    background-color: #fff;
    box-shadow: 0px 0px 5px #bbb;
    max-width: 1170px;
    margin: auto;
    padding: 80px;
    border-radius: 10px;
}

.row-infor-order {
    position: relative;
}

.btn-update-inf-user {
    background-color: #FFCC33;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    font-weight: 500;
}

.btn-update-inf-user:hover {
    background-color: #fed764;
}

.btn-update-form-inf {
    background-color: var(--color-main);
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
    font-weight: 600;
    margin-right: 20px;
}

.btn-update-form-inf:hover {
    background-color: #89d525;
}

.btn-change-pass {
    background-color: #3399FF;
    color: #fff;
    width: 120px;
    padding: 5px 11px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
}

.btn-change-pass:hover {
    background-color: #31bff3;
}

.wrap-btn-form-inf {
    display: flex;
    justify-content: space-between;
}

.element-change-pass {
    margin-top: 20px;
}

.element-change-pass input {
    padding-left: 15px;
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.cru-updateInf {
    max-width: 1170px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 10px;
}