@media only screen and (max-width: 768px) {
    .login-page {
        width: 60%;
    }

    .login-page h2{
        font-size: 1rem;
    }

    .login-page form button,
    .login-page form a,
    .login-page form input {
        font-size: 0.9rem;
        margin: auto;
        margin-top: 15px;
    }

    .row-btn-login {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .login-page {
        width: 90%;
    }
}