@media only screen and (max-width: 1169px) {
    .wrap-myorder {
        padding: 0 20px;
    }

    .wrap-infor-myord-detail {
        flex-wrap: wrap;
    }

    .elementOfWrapDetailLeft,
    .elementOfWrapDetailMid,
    .elementOfWrapDetailRight {
        border: unset;
        border-bottom: 1px solid #bbb;
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .container-myOrder {
        width: 100%;
        padding: 0 20px;
        font-size: 0.8rem;
    }

    .wrap-myorder{
        width: 100%;
        justify-content: space-between;
    }

    .element-order {
        width: 100%;
    }

    .wrap-infor-myord-detail {
        display: block;
    }

    .elementOfWrapDetailLeft,
    .elementOfWrapDetailRight,
    .elementOfWrapDetailMid {
        border: unset;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .inf-client {
        height: auto;
    }

    .wrap-updateInforClient {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 992px) {
    .btn-opt-sta-ord {
        font-size: 0.7rem;
        text-align: center;
    }

    .inf-client {
        width: 250px;
    }

    .itemOrder {
        font-size: 0.75rem;
    }

    .item-total-ord-1 span {
        display: block;
        text-align: center;
        margin: 5px 0 10px 10px;
    }
}

@media only screen and (max-width: 992px) {
    .wrap-updateInforClient {
        padding-top: 1px;
    }

    .cru-updateInf {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .wrap-myorder {
        display: block;
    }

    .inf-client {
        position: absolute;
        left: -120%;
        z-index: 1;
        margin-left: 20px;
        margin-top: 80px;
    }

    .element-order {
        margin-left: 0;
    }

    .element-order h4 {
        font-size: 1rem;
    }

    .btn-infor-acc-myOrder {
        display: inline-block;
        background-color: #00CC33;
        color: #fff;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 -3px 4px #019d28 inset;
        cursor: pointer;
    }

    .btn-infor-acc-myOrder:hover {
        box-shadow: 0 0px 3px #019d28;
    }

    .elementOfWrapDetailMid,
    .item-myord-detail-content{
        width: 100%;
    }

    .element-order table,
    .element-order table tr {
        width: 100%;
    }

    .element-order table tr td {
       padding: 0 10px;
    }
}

@media only screen and (max-width: 480px) {
    .element-order table tr td {
        display: block;
        margin-bottom: 10px;
    }

    .elementOfWrapDetailMid,
    .title-head-item-detail,
    .p-address-dtail-mor {
        width: 100%;
    }

    .elementOfWrapDetailMid {
        min-width: 100%;
    }

    .item-myord-detail-content{
        display: block;
        width: 100%;
    }

    .headre-true-show {
        display: none;
    }

    .container-updateInforClient {
        padding-left: 20px;
        padding-right: 20px;
    }

    .total-ord {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-total-ord-2{
        width: 100%;
    }

    .item-total-ord-2 p {
        margin-left: 5px;
        font-size: 1rem;
    }

    .btn-opt-sta-ord {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
