@media only screen and (max-width: 1169px) {
    .container-order {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .container-order {
        width: 100%;
        padding: 0 20px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .wrap-btnUpdate a {
        display: inline-block;
        width: 130px;
        height: 40px;
        margin-left: 5px;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container-order {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .infor-pro-order {
         margin-left: 0;
         margin-top: 20px;
         width: 100%;
    }
}