@media only screen and (max-width: 1169px) {
    .container-pro {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .container-pro {
       padding: 0 20px;
    }
}

@media only screen and (max-width: 992px) {
    .list-category-item ul li,
    .list-price-item ul li,
    .list-discount-item ul li {
        font-size: 0.8rem;
    }

    .list-category-item h3,
    .list-price-item h3,
    .list-discount-item h3 {
        font-size: 1rem;
    }

    .list-category-item,
    .list-price-item,
    .list-discount-item {
        width: 230px;
    }

    .list-category-item {
        margin-top: 20px;
    }

    .list-category-hover {
        left: 200px;
    }

    .product_card {
        width: 230px;
        height: 380px;
    }

    .product_card img {
        height: 200px;
    }

    .product_box .description-pro {
        margin-bottom: 0;
    }

    .row_btn {
        margin-top: 0;
    }

    .head-list-pro .title-category {
        margin-top: 15px;
        font-size: 1rem;
    }

    .row-filter {
        width: auto;
    }

    .notify-not-found {
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container-pro {
        margin-top: 20px;
    }

    .icon-img-menu-pro-page {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 5px;
        border: 2px solid #000;
        border-radius: 5px;
        margin-right: 10px;
        margin-left: -10px;
        cursor: pointer;
    }

    .head-list-pro .title-category {
        margin-top: 20px;
    }

    .wrap-list-category {
        display: block;
        position: relative;
    }

    .list-category {
        transition: ease-in-out 0.3s;
        position: fixed;
        top: 0px;
        left: -120%;
        z-index: 1000;
        overflow-y: scroll;
        background-color: #fff;
        box-shadow: 5px 0px 5px #bbb;
        height: 100vh;
        width: 100%;
        padding-top: 20px;
    }

    .list-category-item, .list-price-item, .list-discount-item {
        margin: auto;
        width: 95%;
        margin-bottom: 20px;
    }

    .list-category-item {
        margin-top: 0;
    }

    .list-category-hover {
        left: 35%;
        z-index: 1;
    }

    .line {
        margin-top: 30px;
    }

    .filter_menu {
        justify-content: center;
    }
    
    .icon-close-menu-pro {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        border: 2px solid #000;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
    }

    .icon-close-menu-pro:hover {
        background-color: #ddd;
    }
}