:root {
    --color-main: #f17183;
}

.wrap-carousel {
    width: 100%;
    height: 70vh;
}

.carousel-item,
.carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
}

.section-slide {
    width: 1170px;
    height: 70vh;
    margin: auto;
    margin-top: 60px;
    position: relative;
    box-shadow: 0px 0px 5px #bbb;
    border-radius: 10px;
}

.opacity-slide {
    position: absolute;
    width: 100%;
    height: 70vh;
    background-color: #000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
    border-radius: 10px;
}

.carousel-caption {
    z-index: 1000;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
}

.carousel-caption h3 {
    font-size: 60px;
    font-style: italic;
    text-shadow: 5px 5px 10px #ccc;
}

.carousel-caption p {
    font-size: 30px;
    text-shadow: 5px 5px 10px #ccc;
}

.content-homepage {
    max-width: 1170px;
    margin: auto;

}

.line-homepage {
   display: flex;
   margin-top: 40px;
   margin-bottom: 25px;
}

.new-product-hp,
.discount-product-hp {
    display: flex;
    justify-content: space-between;
}

.category-homepage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    overflow: hidden;
}

.wrap-category-homePage {
    margin-right: 50px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 7px #777;
}

.wrap-btn-ctrl-silde {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20PX;
}

.wrap-btn-ctrl-silde button {
    background-color: #ccc;
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 4px;
}

.wrap-btn-ctrl-silde button:hover {
    background-color: #ddd;
}

.wrap-btn-ctrl-silde button:active {
    background-color: #ccc;
}

.wrap-btn-ctrl-silde button img {
    width: 25px;
    height: 25px;
}

.wrap-category-homePage:hover .name-cate-slide{
    transform: translateY(0);
    height: 100%;
    transition: ease-out 0.5s;
    border-radius: 5px;
}

.wrap-category-homePage:hover .bg-opa-cate-slide {
    transform: translateY(0);
    transition: ease-out 0.5s;
}

.name-cate-slide {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0px 0px 5px #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(192px);
    z-index: 101;
}

.bg-opa-cate-slide {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: translateY(192px);
}

.name-cate-slide a {
    display: block;
    margin: auto;
    margin-top: 40px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 90px;
    padding: 5px 0;
    text-transform: none;
    color: #fff;
    font-weight: bold;
}

.name-cate-slide a:hover {
    background-color: #f17183;
    color: #fff;
}

.wrap-category-homePage img {
    width: 355px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.bg-discount-home {
    background-color: #7ec522;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
}

.bg-discount-home img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid #FFFF00;
}

.content-discount-home {
    position: absolute;
    width: 50%;
    height: 300px;
    padding-top: 90px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
    color: #FFFF00;
    font-weight: 600;
}

.title-disc-ct-home {
    font-size: 30px;
    font-style: italic;
    text-shadow: 5px 5px 5px #111;
}

.ct-persent-disc-home {
    font-size: 20px;
    color: #FFFF00;
    text-shadow: 5px 5px 5px #111;
}

.content-discount-home a {
    text-decoration: none;
    background-color: #dd035a;
    border-radius: 20px;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 10px;
}

/*-----------------------tài khoản bị khóa------------------------------*/
.user-dissabled {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    text-align: center;
}

.user-dissabled span {
    background-color: #0066FF;
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

.user-dissabled span:hover {
    background-color: #0259dd;
}

.user-dissabled img {
    width: 120px;
    height: 120px;
    margin-top: 25vh;
    margin-bottom: 20px;
}

.header-homepage {
    position: fixed;
    z-index: 2000;
    top: -100%;
    width: 100%;
}

.headre-true-show {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    transition: ease-in-out 0.6s;
}

.none-head-page {
    display: none;
}

.btn-offer-pro {
    margin-right: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    box-shadow: 3px 3px 5px #bbb;
    cursor: pointer;
}

.btn-offer-pro:hover {
    box-shadow: 0px 0px 5px #bbb;
    transition: linear 0.2s;
}

.btn-new-pro {
    background-color: #f17183;
}

.btn-disc-pro {
    background-color: #99FF99;
}

.line-break-row {
    height: 1px;
    width: 50%;
    margin-top: 23px;
    background-color: #aaa;
    flex: 1;
}

.seperate {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.3rem;
    margin: auto;
    margin-top: -15px;
}

.seperate span {
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #000;
    margin: 0 15px;
}

.container-infor-discount-hp {
    width: 1170px;
}

.infor-disc-hp {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.infor-disc-left {
    width: 65%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.infor-disc-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.infor-disc-left::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100px;
    background-color: #111;
    opacity: 0.5;
    
}

.infor-disc-left p {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 100;
    text-shadow: 0px 0px 5px #000;
}

.btn-discout-hp {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-discout-hp:hover {
    background-color: #f17183;
    color: #fff;
}

.infor-disc-left:hover .btn-discout-hp{
    top: 40%;
    z-index: 101;
    transition: linear 0.2s;
}

.content-discout-hp {
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    margin-left: -20px;
    transform: translateX(-100%);
}

.infor-disc-left:hover .content-discout-hp {
    transform: translateX(0);
    transition: ease-in-out 0.3s;
}

.infor-disc-right {
    width: 35%;
    height: 500px;
}

.wrap-item-discRight {
    background-color: #f8f7f7;
    margin-left: 30px;
    height: 235px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.wrap-item-discRight:hover .link-cate-disc{
   margin-top: 0;
   transition: ease-in-out 0.3s;
}

.wrap-item-discRight img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrap-item-discRight::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: 0.3;
    border-radius: 5px;
}

.name-cate-item-discRight {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    letter-spacing: 1px;
    width: 100%;
}

.name-cate-item-discRight a {
    color: #fff;
    display: inline-block;
    margin-top: 150px;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 10px;
}

.name-cate-item-discRight a:hover {
    background-color: #f17183;
    color: #fff;
}

.news-hompage {
    display: flex;
    justify-content: space-between;
}

.infor-news-left {
    width: 50%;
    display: flex;
    overflow: hidden;
}

.item-news-hp {
    width: 585px;
    display: flex;
    justify-content: space-between;
}

.item-news-hp .img-news-hp {
    width: 234px;
    cursor: pointer;
}

.item-news-hp img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #eee;
}

.item-infor-news {
    width: 351px;
    flex: 1;
    margin-left: 20px;
}

.item-infor-news a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.item-infor-news a:hover {
    color: #999;
}

.wrap-btn-choose {
    width: 48%;
    padding-left: 50px;
    border-left: 1px solid #ddd;
}

.wrap-btn-choose p {
    cursor: pointer;
    box-shadow: 4px 4px 6px #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

.wrap-btn-choose p:hover {
    background-color: #99FF99;
    color: #000;
}

.wrap-btn-choose p:active {
    background-color: #fff;
    box-shadow: 0px 0px 6px #ddd;
}

.wrap-btn-choose img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}