.container-mana-news {
    margin: 0 20px;
    padding-top: 5px;
    position: relative;
}

.container-mana-news .btn-create-news-ad {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #00CC33;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px #ddd;
    cursor: pointer;
}

.container-mana-news .btn-create-news-ad:hover {
    background-color: #02d837;
}

.container-mana-news .btn-create-news-ad:active {
    box-shadow: 0px 0px 5px #ddd;
    background-color: #00CC33;
}

.list-table-news .img-news {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.list-table-news tr {
    border-bottom: 1px solid #ccc;
}

.td-title-news {
    display: inline-block;
    padding-top: 20px;
    width: 230px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.th-table-respon-news {
    display: none;
}