@media only screen and (max-width: 992px) {
    .btn-form-create-pro-ad {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 590px) {
    .btn-form-create-pro-ad {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 480px) {
    .btn-form-create-pro-ad {
        margin-top: 100px;
    }

    .option-size {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 50%;
    }

    .create_product .form-create input,
    .create_product .form-create select {
        width: 100%;
    }

    .wrap-size {
        width: 90%;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .form-item {
        margin-right: 0;
        margin-left: 0;
    }

    .contain-optSi {
        margin-bottom: 10px;
    }
}