@media only screen and (max-width: 1170px) {
    .detail-order-mana-ad {
        margin-left: 20px;
        margin-right: 20px;
    }

    .detail-Order {
        flex-wrap: wrap;
    }

    .inf-detail-ord-ad,
    .table-pro-detail-prrd-ad {
        width: 100%;
    }

    .table-pro-detail-prrd-ad {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    .content-detail-ord-ad {
        width: 100%;
        flex-wrap: wrap;
    }

    .inf-detail-ord-ad {
        width: 100%;
    }

    .table-pro-detail-prrd-ad {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 828px) {
    .btn-back-detail-ord-ad {
        margin-top: 10px;
    }

    /* .update-sta-ord-ad {
        margin-left: 35px;
    } */
}

@media only screen and (max-width: 700px) {
    .detail-Order table tr td {
        display: block;
        padding: 10px;
    }
}

@media only screen and (max-width: 638px) {
    .update-sta-ord-ad {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .detail-Order table tr td {
        display: block;
        padding: 10px;
    }

    .th-table-respon-detai-ord-ad {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }

    .update-sta-ord-ad {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .btn-export-stickers {
        margin-top: 10px;
    }

    .update-sta-ord-ad,
    .btn-export-stickers,
    .inf-detail-ord-ad,
    .table-pro-detail-prrd-ad {
        font-size: 0.9rem;
    }

    .tt-and-btn-detail-upd-ad {
        flex-wrap: wrap;
    }

    .filter-status-ord-ad {
        text-align: center;
    }
}