@media only screen and (max-width: 1170px) {
    .table-disc-mana {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .container-discount-list-ad {
        margin-left: -20%;
    }
}

@media only screen and (max-width: 768px) {
    .showForm-create-upfate {
        left: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .item-ttline-update-pro-ad {
        display: none;
    }

    .td-disc-ad {
        display: block;
    }

    .th-disc-ad {
        display: none;
    }

    .th-table-respon-disc {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }
}