@media only screen and (max-width: 1300px) {
    .form-ctrl-slide, .form-ctrl-hompage-ad {
        z-index: 1002;
    }
}

@media only screen and (max-width: 1170px) {
    .form-ctrl-slide,
    .form-ctrl-hompage-ad {
        z-index: 1002;
    }

    .form-ctrl-slide {
        width: 450px;
        height: 450px;
        overflow-y: scroll;
        position: fixed;
        left: calc(50% - 225px);
    }

    .wrap-item-CtrlSlide {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .form-ctrl-slide,
    .form-ctrl-hompage-ad {
        width: 100%;
        left: 0;
    }

    #wrap_img-Slide,
    #wrap_img-Slide img,
    .form-ctrl-hompage-ad select {
        width: 100%;
    }

    .upload-img-CtrlSlide {
        width: 100%;
        margin: 0;
    }

    .form-ctrl-hompage-ad {
        height: auto;
    }

    .form-ctrl-slide {
        height: 300px;
    }
}