@media only screen and (max-width: 1170px) {
    .btn-show-form-role,
    .btn-add-account-admin {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .form-create-role {
        z-index: 1002;
    }

    .wrap-filter-role input {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .container-list-manager {
        margin-left: -20%;
    }

    .form-create-role {
        width: 80%;
        height: 400px;
        left: 50%;
        transform: translateX(-50%);
        top: calc(50vh - 200px);
        overflow-y: scroll;
    }

    .form-update-role {
        display: block;
    }

    .wrap-form-create-role {
        margin: auto;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container-user-mana-ad table {
        width: 100%;
    }
    .container-user-mana-ad table tr td,
    .table-user-payed table tr td {
        font-size: 1rem;
        padding: 10px 10px;
    }

    .wrap-filter-role label {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 720px) {
    .wrap-filter-role input {
        margin-top: 10px;
    }

    .container-user-mana-ad table tr th,
    .table-user-payed table tr th {
        display: none;
    }

    .container-user-mana-ad table tr td,
    .table-user-payed table tr td {
        display: block;
        padding: 10px 0;
        padding-left: 20px;
        text-align: left;
    }

    .th-table-respon-manaAd {
        display: inline-block;
        font-weight: 500;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .wrap-filter-role input,
    .row-form-create-role input,
    .form-create-acc-Admin input {
        width: 100%;
    }

    .wrap-filter-role input {
        margin-right: 20px;
    }

    .form-create-acc-Admin {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
        text-align: center;
    }

    .form-create-acc-Admin select {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .form-update-role-user {
        height: auto;
    }
}