@media only screen and (max-width: 992px) {
    .wrap-contain-news-ad {
        margin-left: -20%;
    }

    .list-table-news {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .list-table-news table td {
        display: block;
        padding: 10px 0;
    }

    .td-title-news {
        margin: 0 auto;
        overflow: unset;
        white-space:unset;
    }

    .th-table-respon-news {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .container-mana-news .btn-create-news-ad {
        position: unset;
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .option-select-all {
        width: 100%;
    }
}