@media only screen and (max-width: 1300px) {
    .show-detai-review-ad {
        width: 80%;
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: calc(50vh - 175px);
        z-index: 1002;
    }
}

@media only screen and (max-width: 1170px) {
    .btn-see-detail-rep-pro {
        display: inline-block;
    }

    .table-reviw-pro-ad {
        width: 100%;
    }
}

@media only screen and (max-width: 1040px) {
    .btn-delete-rev-all {
        display: inline-block;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .container-review-ad {
        margin-left: -20%;
    }

    .show-detai-review-ad {
        width: 80%;
        height: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: calc(50vh - 175px);
    }

    .table-cate-pro-ad {
        width: 100%;
    }

    .detail-user-not-review {
        left: 50%;
        transform: translateX(-50%);
        top: calc(50vh - 225px);
    }

    .detail-user-not-review p {
        display: block;
        width: 70px;
        margin: auto;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .detail-review-all-ad {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: calc(50vh - 105px);
        position: fixed;
    }

    .btn-see-detail-rep-pro,
    .btn-delete-rev-all {
        font-size: 0.9rem;
    }

    .btn-see-detail-rep-pro {
        width: 80px;
    }

    .table-rev-all-ad table th {
        display: none;
    }

    .table-rev-all-ad table tr {
        border-bottom: 1px solid #ccc;
    }

    .table-rev-all-ad table tr td {
        display: block;
        border: unset;
        padding: 10px 0;
        font-size: 0.9rem;
    }

    .th-table-respon-review {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 350px) {
    .table-rev-data-ad {
        display: none;
    }

    .td-table-revUsser {
        display: block;
    }

    .th-table-respon-revUser {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }
}