@media only screen and (max-width: 1300px) {
    .detail-user-mana-ad {
        z-index: 1002;
    }
}

@media only screen and (max-width: 1170px) {
    .btn-classify-user-ad input {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .container-user-client-page {
        margin-left: -20%;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .btn-dissable {
        display: block;
        margin: 10px 0;
        width: 90px;
        text-align: center;
    }
}

@media only screen and (max-width: 720px) {
    .th-tablel-res-user {
        display: inline-block;
        font-weight: 500;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .detail-user-mana-ad {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        height: 350px;
        top: calc(50vh - 175px);
        overflow-y: scroll;
    }

    .btn-form-detail {
        position: unset;
        margin-left: 50%;
        transform: translateX(-50%);
        display: inline-block;
    }

    .btn-classify-user-ad button {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .btn-classify-user-ad input {
        width: 100%;
        margin-right: 20px;
    }
}