.container-mana-general-ad {
    margin: 0 20px;
    padding-bottom: 50px;
}

.btn-gen-ad {
    border: 1px solid #00cc00;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 20px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0px -1px 3px #01a801 inset;
}

.btn-gen-ad:hover {
    background-color: #01e601;
}

/*============================ intro ==============================================*/

.form-summer-intro-ad {
    margin-top: 20px;
}

.btn-update-intro {
    background-color: #00cc00;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px -4px 3px #01a801 inset;
    margin-top: 50px;
    font-weight: 500;
}

.btn-update-intro:hover {
    background-color: #03e603;
}