.footer {
    width: 100%;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
}

.head-ft {
    background-color: #3b3b44;
    padding: 30px 0;
}

.icon-mxh {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.icon-footer {
    filter: brightness(0) invert(1);
    margin-right: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 15px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.input-register-acc label {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 15px;
}

.input-register-acc input {
    width: 320px;
    height: 40px;
    outline: none;
    border: 1px solid #bbb;
    box-shadow: 0px -2px 2px #bbb inset;
    border-radius: 5px;
    padding-left: 10px;
}

.input-register-acc button {
    background-color: #f17183;
    box-shadow: 0px -2px 2px #b1515f inset;
    padding: 6px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}

.mid-ft {
    width: 100%;
    background-color: #494952;
}

.infor {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px 0;
}

.infor h5 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.infor li {
    color: #bbb;
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.infor li:hover {
    color: #ddd;
}

.infor p {
    margin-bottom: 20px;
    color: #bbb;
}

.infor ul {
    padding: 0;
}

.icon-infor {
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
    padding: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
}

.icon-dot {
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #494952;
    padding-bottom: 20px;
}

.copyright p {
    margin: 0;
    color: #fff;
}