:root {
    --color-main: #7ec522;
}

.wrap-mana-user::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.3;
}

.container-user-mana-ad,
.table-user-payed {
    margin: 0 20px;
}

.container-user-mana-ad table,
.table-user-payed table {
    width: 100%;
}

.container-user-mana-ad table tr,
.table-user-payed table tr {
    border-bottom: 1px solid #ccc;
}

.container-user-mana-ad table th,
.table-user-payed table th {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #bbb;
}

.container-user-mana-ad table tr td,
.table-user-payed table tr td {
    padding: 15px 0;
    text-align: center;
}

.btn-classify-user-ad {
    margin: 20px 0 20px 20px;
}

.btn-see-detail {
    background-color: #00cc00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.btn-see-detail:hover {
    background-color: #02d802;
}

.btn-classify-user-ad button {
    border: 1px solid #FF9900;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px #ccc;
    cursor: pointer;
}

.btn-classify-user-ad input {
    margin-left: 20px;
    width: 447px;
    height: 38px;
    outline: none;
    border: 2px solid #00cc00;
    border-radius: 20px;
    padding-left: 15px;
}

.detail-user-mana-ad {
    box-shadow: 0px 0px 20px #666;
    background-color: #fff;
    width: 500px;
    padding: 20px;
    padding-bottom: 40px;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    left: calc(50% - 250px);
    border-radius: 10px;
    z-index: 1;
}

.item-detail-user-ad span {
    font-weight: 500;
}

.btn-form-detail {
    background-color: #0066FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.btn-form-detail:hover {
    background-color: #0259db;
}

.btn-dissable {
    background-color: #999;
    margin-left: 10px;
}

.btn-dissable:hover {
    background-color: #bbb;
}

.btn-delete-user-disa {
    background-color: #FF6633;
    margin-left: 10px;
}

.btn-delete-user-disa:hover {
    background-color: #ffb340;
}

.th-tablel-res-user {
    display: none;
}
