:root {
    --color-main: #7ec522;
}

.container-discountpage {
    max-width: 1170px;
    margin: auto;
    margin-top: 40px;
}

.row-list-disc-page {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px #aaa;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 0;
    margin: 15px 28px 0 28px;
    position: relative;
    z-index: 1;
}

.item-cate-disc-page {
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
}

.item-cate-disc-page:hover {
    background-color: #555;
    color: #fff;
}

.item-cate-disc-page img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.ul-discount-page {
    position: absolute;
    top: 41.5px;
    left: 0;
    background-color: #666;
    width: 280px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
}

.ul-discount-page img {
    filter: brightness(0) invert(1);
}

.ul-discount-page li {
    padding-left: 20px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.ul-discount-page li:hover {
    background-color: #777;
}

.wrap-card-pro-disc {
    margin-top: 20px;
    margin-bottom: 80px;
}

.card-pro-discountPage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20px;
    margin-bottom: 20px;
}

.list-cate-page-disc {
    margin-top: 10px;
}

.list-cate-page-disc h3 {
    font-size: 23px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.notify-not-found-disc {
    font-size: 1.4rem;
    font-weight: 500;
}

.icon-img-menu-disc {
    display: none;
}