:root {
    --color-main: #7ec522;
}

.container-detail {
    max-width: 1170px;
    margin: auto;
    margin-top: 40px;
}

.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
    margin-top: -30px;
}

.wrap-image-main {
    box-shadow: 0px 0px 10px #aaa;
    width: 350px;
    height: 400px;
    max-width: 400px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.detail .img-main-pro{
    max-width: 400px;
    width: 350px;
    height: 400px;
    object-fit: contain;
    display: block;
    border-radius: 10px;
    transition: ease-in-out 2s;
}

.box-detail{
    max-width: 500px;
    width: 100%;
    margin-left: -60px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: uppercase;
    font-weight: 2rem;
    font-size: 1.5rem;
    color: chocolate;
}

.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
    border-bottom: 1px solid #bbb;
    padding: 5px 0;
    font-size: 21px;
}

.box-detail span {
    color: red;
    font-weight: bold;
}

.box-detail .cart{
    background-color: #00cc00;
    color: #fff;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    font-weight: 600;
    font-size: 18px;
}

.cart {
    text-decoration: none;
}

.box-detail .cart:hover {
    box-shadow: 0px 0px 7px #bbb;
    background-color: #02d802;
}

.box-detail .cart:active {
    background-color: #00cc00;
}

.icon-share {
    width: 100px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-share img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 0 10px;
}

.wrap-offer {
    position: relative;
    margin-bottom: 40px;
}

.title-offer {
    border: 2px solid #00cc00;
    background-color: #fff;
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
}

.line-offer {
    background-color: #00cc00;
    width: 100%;
    height: 2px;
}

.btn-review {
    margin-left: 85px;
}

.btn-review button {
    border: 2px solid #00cc00;
    margin-right: 15px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #bbb;
}

.btn-review button:hover {
    box-shadow: 0px 0px 5px #bbb;
}

.content-description {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 17px;
    border: 1px solid #bbb;
    border-radius: 10px;
    text-align: justify;
}

.content-description p {
    text-indent: 50px;
    line-height: 35px;
}

.content-review-item {
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 30px;
    font-weight: 600;
}

.content-review-item img {
    width: 17px;
    height: 17px;
    margin-left: 10px;
}

.content-review-item textarea {
    outline: none;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
}

.content-review-item button {
    background-color: #00cc00;
    color: #fff;
    padding: 3px 15px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 10px;
}

.content-review-item button:hover {
    background-color: #03e503;
    transition: linear 0.2s;
}

.showComment {
    max-width: 1000px;
    margin: auto;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-bottom: 50px;
    padding: 20px 0;
    font-weight: 600;
    padding-left: 10px;
}

.row-comment-item {
    box-shadow: 0px 0px 6px #aaa;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 15px 0 5px 30px;
    padding: 10px 20px 10px 10px;
    width: 500px;
    position: relative;
}

.row-comment-item p {
    font-weight: 400;
    margin-left: 55px;
    margin-bottom: 0;
    padding-top: 8px;
    border-top: 1px solid var(--color-main);
}

.name-comment {
    background-color: #99CCFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #006699;
    display: inline-block;
    margin-right: 10px;
}

.btn-delete-cmt {
    display: inline-block;
    width: 25px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    border-radius: 5px;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 4px 4px 4px #bbb;
}

.btn-delete-cmt:hover {
    box-shadow: 0px 0px 4px #bbb;
    background-color: red;
    color: #fff;
}

.row-comment {
    height: 220px;
    overflow-y: scroll;
}

.star-in-comment {
    margin-left: 10px;
}

.star-in-comment span img {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.inf-user-comment {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-left: 5px;
}

.img-item-detail {
    display: flex;
    justify-content: space-between;
}

.img-item-detail span {
    border: 2px solid #bbb;
    border-radius: 3px;
    margin: 10px 8px 0 8px;
    cursor: pointer;
}

.img-item-detail span:hover {
    background-color: #fff;
    opacity: 0.7;
}

.img-item-detail span img {
    width: 85px;
    height: 95px;
    object-fit: contain;
}

.buy-now {
    background-color: #FF6633;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 6px 6px 7px #bbb;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.buy-now:hover {
    color: #fff;
    background-color: #fd835b;
    box-shadow: 0px 0px 7px #bbb;
    transition: linear 0.2s;
}

.size-item {
    font-size: 1.3rem;
    margin: 0 10px;
    border: 1px solid #555;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
}

.color {
    display: inline-block;
    margin-top: 20px;
}

.size {
    display: inline-block;
    margin-top: 20px;
}

.size-item:hover {
    background-color: #fff;
    opacity: 0.5;
}

.wrap-btn-zoom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.wrap-btn-zoom p {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    margin: 5px 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #fff;
}

.wrap-btn-zoom p:hover {
    background-color: #999;
    color: #fff;
}

.btn-pre-image,
.btn-next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-pre-image {
    left: -60px;
    cursor: pointer;
}

.btn-pre-image img,
.btn-next-image img {
    width: 30px;
    height: 30px;
}

.btn-pre-image img:hover,
.btn-next-image img:hover {
    filter: brightness(0) invert(1);
}

.btn-next-image,
.btn-pre-image {
    border: 1px solid #999;
    border-radius: 50%;
    right: -60px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
}

.btn-next-image:hover,
.btn-pre-image:hover {
    background-color: #aaa;
}

.form-byNow {
    box-shadow: 0px 0px 6px #aaa;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    left: calc(50% - 550px);
    width: 1100px;
    height: 580px;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 20px;
}

.buyNow-left,
.buyNow-mid,
.buyNow-right {
    border-radius: 5px;
    padding: 10px 15px;
}

.buyNow-left {
    width: 40%;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.buyNow-right {
    width: 31%;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.buyNow-mid {
    width: 29%;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: unset;
}

.buyNow-right button {
    background-color: orangered;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buyNow-right button:hover {
    background-color: rgb(254, 102, 47);
}

.head-buyNow-left {
    display: flex;
    justify-content: space-between;
}

.head-buyNow-left span {
    text-decoration: none;
    background-color: #3399FF;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.head-buyNow-left span:hover {
    background-color: #55a9fd;
    transition: linear 0.2s;
}

.btn-quant-buyNow {
    display: inline-block;
    border: 1px solid #aaa;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 1.3rem;
}

.btn-quant-buyNow:hover {
    background-color: #eee;
}

.number-quant {
    font-size: 1rem;
    line-height: 28px;
}

.number-quant:hover {
    background-color: #fff;
}

.close-form-byNow {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid #aaa;
    padding: 0 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: red;
    background-color: #fff;
}

.close-form-byNow:hover {
    background-color: #bbb;
    color: #fff;
}

.detail-bg-opacity::before {
    position: fixed;
    content: '';
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.4;
    z-index: 899;
}
