:root {
    --color-main: #7ec522;
}

.table-report-ad {
    margin-left: 20px;
}

.table-report-ad table tr {
    text-align: center;
}

.table-report-ad table tr td {
    background-color: #FFFFCC;
    padding: 20px 0;
}

.btn-see-detail-report {
    background-color: #00cc00;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-see-detail-report:hover {
    background-color: #02d802;
}

.detail-report-ord {
    margin: 20px 30px 0 20px;
    box-shadow: 0px 0px 6px #aaa;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 50px;
}

.detail-report-ord h5 {
    border-bottom: 1px solid var(--color-main);
    padding-bottom: 10px;
}

.detail-report-ord table {
    width: 100%;
}

.detail-report-ord table th {
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.detail-report-ord table td {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    text-align: center;
}

.img-pro-report-detail {
    width: 60px;
    height: 60px;
}

.detail-pro-ord-report,
.true-detail-pro-ord-report {
    background-color: #fff;
    box-shadow: 0px 0px 6px #aaa;
    border-radius: 10px;
    width: 50%;
    max-height: 400px;
    padding: 20px;
    overflow-y: scroll;
    position: fixed;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    transition: linear 0.2s;
    z-index: 1;
}

.true-detail-pro-ord-report {
    top: 23vh;
    transition: linear 0.4s;
}

.true-detail-pro-ord-report h5 {
    border-bottom: 1px solid var(--color-main);
    padding-bottom: 15px;
    text-align: center;
}

.true-detail-pro-ord-report table {
    width: 100%;
    box-shadow: 0px 0px 6px #aaa;
    border-radius: 5px;
}

.true-detail-pro-ord-report table th {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.true-detail-pro-ord-report table tr {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.true-detail-pro-ord-report table tr td {
    padding: 15px 0;
}

.close-table-pro-detail-rep {
    padding: 2px 7px 5px 7px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}

.close-table-pro-detail-rep img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-table-pro-detail-rep:hover {
    background-color: #ddd;
}

.ord-and-ship-inf-rep {
    margin: 20px 0 25px 0;
}

.bg-disabale-black::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.3;
    z-index: 1;
}

.btn-refresh-page-time {
    background-color: #3366FF;
    color: #fff;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
}

.btn-refresh-page-time:hover {
    background-color: #5781ff;
}

.btn-cate-report-ad button {
    border: 1px solid #FF9900;
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
}

.btn-cate-report-ad button:focus {
    background-color: #FFCC00;
    box-shadow: 0px 0px 6px #aaa;
    transition: linear 0.2s;
}

.img-report-pro-ad {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.table-report-pro-detail {
    box-shadow: 0px 0px 6px #aaa;
    background-color: #fff;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    left: calc(50% - 250px);
    width: 500px;
    height: 260px;
    padding: 20px;
    border-radius: 10px;
    transition: linear 0.3s;
    z-index: 2;
}

.hiden-table-report-pro-detail {
    box-shadow: 0px 0px 6px #aaa;
    background-color: #fff;
    position: fixed;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 260px;
    padding: 20px;
    border-radius: 10px;
    transition: linear 0.2s;
}

.table-report-pro-detail h5 {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin-top: -10px;
}

.table-report-pro-detail table {
    width: 100%;
}

.table-report-pro-detail table th {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.table-report-pro-detail table tr {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.table-report-pro-detail table tr td {
    padding: 15px 0;
}

.inf-pro-detail-rep {
    display: flex;
    justify-content: space-around;
}

.img-close-dt-pro-rep {
    width: 20px;
    height: 20px;
}

.wrap-img-close-pro-dt-rep {
    top: 5px;
    right: 10px;
}

.wrap-img-close-pro-dt-rep:hover {
    background-color: #ddd;
}

.btn-see-detail-rep-pro {
    background-color: #00cc00;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.btn-see-detail-rep-pro:hover {
    background-color: #02d802;
}

.select-category-pro-rep {
    outline: none;
    border: 2px solid var(--color-main);
    border-radius: 5px;
    height: 35px;
}

.tt-cap-select-pro-rep {
    margin-left: 50px;
}

.setting-rep-pro input {
    width: 340px;
    margin-left: 50px;
}

.table-rep-user-detail{
    width: 850px;
    left: calc(50% - 425px);
}

.table-rep-user {
    padding-bottom: 80px;
}

.table-rep-user table tr td {
    padding: 15px 0;
}

.th-table-respon-report {
    display: none;
}